.login {
	margin: auto;
}

@media screen and (min-width: 320px) {
	.login {
		max-width: 100vw;
		min-height: 780px;
	}
}

@media screen and (min-width: 768px) {
	.login {
		min-height: 1024px;

	}
}

@media screen and (min-width: 1280px) {
	.login {
		min-height: 700px;

	}
}

.login__header {
	margin: auto;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 320px) {
	.login__header {
		max-width: 100vw;
		min-height: 253px;
	}
}

@media screen and (min-width: 768px) {
	.login__header {
		min-height: 379px;
		max-width: 396px;
	}
}

@media screen and (min-width: 1280px) {
	.login__header {
		min-height: 217px;
	}
}

.header__logo_login {
	margin: auto;
}

@media screen and (min-width: 320px) {
	.header__logo_login {
		margin: 56px auto 50px auto;
	}
}

@media screen and (min-width: 768px) {
	.header__logo_login {
		margin: 232px auto 40px 0;
	}
}

@media screen and (min-width: 1280px) {
	.header__logo_login {
		margin: 70px auto 40px 0;
	}
}

.login__welcome {
	color: #000000;
	font-style: normal;
	font-weight: 500;
	text-align: center;
}

@media screen and (min-width: 320px) {
	.login__welcome {
		margin: 0 auto 80px auto;
		min-width: 260px;
		min-height: 29px;
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 768px) {
	.login__welcome {
		min-width: 396px;
		margin: 0 auto 40px auto;
	}
}

@media screen and (min-width: 1280px) {
	.login__welcome {
	}
}

.login__welcome {
	color: #000000;
	font-style: normal;
	font-weight: 500;
}

@media screen and (min-width: 320px) {
	.login__welcome {
		margin: 0 auto 80px auto;
		min-width: 260px;
		min-height: 29px;
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 768px) {
	.login__welcome {
		min-width: 396px;
		margin: 0 auto 40px auto;
	}
}

@media screen and (min-width: 1280px) {
	.login__welcome {
	}
}

.login__form {
	margin: auto;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 320px) {
	.login__form {
		max-width: 260px;
		min-height: 266px;
	}
}

@media screen and (min-width: 768px) {
	.login__form {
		min-width: 396px;
	}
}

@media screen and (min-width: 1280px) {
	.login__form {
	}
}

.login__info {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 320px) {
	.login__info {
		max-width: 260px;
		min-height: 68px;
	}
}

@media screen and (min-width: 768px) {
	.login__info {
		min-width: 396px;
	}
}

@media screen and (min-width: 1280px) {
	.login__info {
	}
}

.login__text {
	font-style: normal;
	font-weight: 400;
	color: #A0A0A0;
	font-size: 10px;
	line-height: 12px;
	margin: 0 auto 10px 0;
}

@media screen and (min-width: 320px) {
	.login__text {
		min-width: 260px;
		min-height: 12px;
	}
}

@media screen and (min-width: 768px) {
	.login__text {
		min-width: 396px;
	}
}

@media screen and (min-width: 1280px) {
	.login__text {
	}
}

.login__input {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	margin-bottom: 20px;
	padding: 15px;
	background: #F9F9F9;
	border-radius: 8px;
	border: none;
}

@media screen and (min-width: 320px) {
	.login__input {
		min-width: 230px;
		min-height: 16px;
	}
}

@media screen and (min-width: 768px) {
	.login__input {
		min-width: 366px;
	}
}

@media screen and (min-width: 1280px) {
	.login__input {
	}
}

.login__password {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #EE3465;
	margin: auto;
	padding: 15px;
	background: #F9F9F9;
	border-radius: 8px;
	border: none;
}

@media screen and (min-width: 320px) {
	.login__password {
		min-width: 230px;
		min-height: 16px;
	}
}

@media screen and (min-width: 768px) {
	.login__password {
		min-width: 366px;
	}
}

@media screen and (min-width: 1280px) {
	.login__password {
	}
}

.login__error {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #EE3465;
	padding: 0;
}

@media screen and (min-width: 320px) {
	.login__error {
		margin: 10px auto auto auto;
		min-width: 260px;
		min-height: 12px;
	}
}

@media screen and (min-width: 768px) {
	.login__error {
		min-width: 396px;
	}
}

@media screen and (min-width: 1280px) {
	.login__error {
	}
}

.login__button {
	margin: auto;

}

@media screen and (min-width: 320px) {
	.login__button {
		max-width: 260px;
		min-height: 266px;
	}
}

@media screen and (min-width: 768px) {
	.login__button {
		min-width: 396px;
	}
}

@media screen and (min-width: 1280px) {
	.login__button {
	}
}

.login__signup {
	background: #2BE080;
	border-radius: 3px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	border: none;
	padding: 0;
	cursor: pointer;
}

@media screen and (min-width: 320px) {
	.login__signup {
		margin: 157px auto 14px auto;
		min-width: 260px;
		min-height: 45px;
		font-size: 12px;
		line-height: 15px;
	}
}

@media screen and (min-width: 768px) {
	.login__signup {
		min-width: 396px;
		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (min-width: 1280px) {
	.login__signup {
	}
}

.login__question {
	color: #A0A0A0;
	font-style: normal;
	font-weight: 400;
	text-align: center;

}

@media screen and (min-width: 320px) {
	.login__question {
		margin: 14px 7px 30px auto;
		min-width: 145px;
		min-height: 15px;
		font-size: 12px;
		line-height: 15px;
	}
}

@media screen and (min-width: 768px) {
	.login__question {
		margin: 16px 6px 232px auto;
		min-width: 169px;
		min-height: 17px;
		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (min-width: 1280px) {
	.login__question {
		margin: 16px 6px 70px auto;
	}
}

.login__signin {
	color: #2BE080;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

@media screen and (min-width: 320px) {
	.login__signin {
		margin: 14px auto 30px 0;
		min-width: 36px;
		min-height: 15px;
		font-size: 12px;
		line-height: 15px;
	}
}

@media screen and (min-width: 768px) {
	.login__signin {
		margin: 16px auto 232px 0;
		min-width: 42px;
		min-height: 17px;
		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (min-width: 1280px) {
	.login__signin {
		margin: 16px auto 70px 0;
	}
}

.login__block {
	display: flex;
}