.navigation {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s linear, visibility .5s linear;
	background-color: #ffffff;
}

.navigation_open {
	visibility: visible;
	opacity: 1;
}

.navigation__close {
	background-image: url(../../images/close.svg);
	width: 25px;
	height: 25px;
	text-align: center;
	border: none;
	background-color: #ffffff;
	cursor: pointer;
}

.navigation__menu {
	color: #000000;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	display: inline;
	cursor: pointer;
	text-decoration: none;
}

.navigation__account {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.text {
	align-items: center;
	color: #000000;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.text_login {
	color: #ffffff;
}

.button {
	background: #F9F9F9;
	border-radius: 6px;
	min-width: 30px;
	min-height: 30px;
	display: flex;
	margin: auto;
	cursor: pointer;
}

.link {
	background-image: url(../../images/account.svg);
	margin: auto;
	width: 10.38px;
	height: 10.67px;
}

@media screen and (min-width: 320px) {
	.navigation {
		min-width: 320px;
		min-height: 780px;
	}

	.navigation__close {
		margin: 13px 13px 96px auto;
	}

	.navigation__menu {
		max-width: 300px;
		min-height: 31px;
		margin: 0 auto 15px auto;
	}

	.navigation__menu:hover {
		border-bottom: 2px solid #000000;
		min-height: 29px;
	}

	.navigation__account {
		min-width: 100px;
		min-height: 30px;
		margin: auto auto 48px auto;
	}
}

@media screen and (min-width: 768px) {
	.navigation {
		min-width: 520px;
		min-height: 1024px;
	}

	.navigation__close {
		margin: 22px 22px 105px auto;

	}

	.navigation__menu {
		max-width: 340px;
		min-height: 28px;
		margin: 0 auto 22px auto;
	}

	.navigation__menu:hover {
		border-bottom: 2px solid #000000;
		min-height: 26px;
	}

	.navigation__account {
		margin: auto auto 92px auto;
	}
}