.moviescardlist {
	margin: 40px auto 0 auto;
	background: #FFFFFF;
	display: grid;
}

@media screen and (min-width: 320px) {
	.moviescardlist {
		max-width: 300px;
		min-height: 204px;
		gap: 36px 0;
		grid-template-rows: repeat(5, auto);
		grid-template-columns: repeat(1, auto);
	}
}

@media screen and (min-width: 768px) {
	.moviescardlist {
		max-width: 94.25%;
		margin: 70px auto 0 auto;
		gap: 45px 30px;
		grid-template-rows: repeat(5, auto);
		grid-template-columns: repeat(2, auto);
	}
}

@media screen and (min-width: 1280px) {
	.moviescardlist {
		max-width: 90.262%;
		gap: 58px 30px;
		grid-template-rows: repeat(5, auto);
		grid-template-columns: repeat(3, auto);
	}
}