.search {
	margin: auto;
}

@media screen and (min-width: 320px) {
	.search {
		max-width: 100vw;
		min-height: 248px;
	}
}

@media screen and (min-width: 768px) {
	.search {
		min-height: 246px;
	}
}

@media screen and (min-width: 1280px) {
	.search {
		min-height: 217px;
	}
}

.search__form {
	margin: auto;
	display: flex;
}

@media screen and (min-width: 320px) {
	.search__form {
		max-width: 292px;
		min-height: 34px;
		margin: 92px auto 9px auto;
		justify-content: center;
	}
}

@media screen and (min-width: 768px) {
	.search__form {
		min-width: 88.93%;
	}
}

@media screen and (min-width: 1280px) {
	.search__form {
		min-height: 217px;
		min-width: 89.06%;
	}
}

.search__button {
	margin: auto;
	background: #2BE080;
	border-radius: 48px;
	min-width: 80px;
	min-height: 34px;
	background-image: url(../../../images/glass.svg);
	border: none;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px;
}

@media screen and (min-width: 320px) {
	.search__button {

	}
}

@media screen and (min-width: 768px) {
	.search__button {

	}
}

@media screen and (min-width: 1280px) {
	.search__button {
	}
}

.search__button-search {
	margin: auto;

}

@media screen and (min-width: 320px) {
	.search__button-search {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.search__button-search {
		display: flex;
	}
}

@media screen and (min-width: 1280px) {
	.search__button-search {
	}
}

.search__film {
	margin: auto;
	border: none;
	outline: none;
	color: #A0A0A0;
	font-style: normal;
	font-weight: 500;
}

@media screen and (min-width: 320px) {
	.search__film {
		min-width: 212px;
		font-size: 18px;
		line-height: 22px;
	}
}

@media screen and (min-width: 768px) {
	.search__film {
		min-width: 560px;
		font-size: 28px;
		line-height: 34px;
		text-align: center;

	}
}

@media screen and (min-width: 1280px) {
	.search__film {
	}
}

.line__search {
	margin: auto;
	background-color: #E8E8E8;
}

@media screen and (min-width: 320px) {
	.line__search {
		max-width: 292px;
		margin: 0 auto 43px auto;
	}
}

.search__check {
	display: flex;
}

@media screen and (min-width: 320px) {
	.search__check {
		min-width: 212px;
	}
}

@media screen and (min-width: 768px) {
	.search__check {
	}
}

@media screen and (min-width: 1280px) {
	.search__check {
	}
}